<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0X10EKZqt_XgfcqMX1YyV2b_hXKJPvXs</string>
	<key>GCM_SENDER_ID</key>
	<string>262059908754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-704de</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-704de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262059908754:ios:b3392c8dab0a758b78104b</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-704de-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>